html,
body {
    scroll-behavior: smooth;
}

.section-hero {
    height: 120vh;
}

.section-hero-sticky {
    margin: 0;
    padding: 0;
    top: 0;
    position: sticky;
    height: 100vh;
    overflow: hidden;
}

.content-hero-container {
    border-radius: 30px;
    position: absolute;
    width: calc(100vw + 40px);
    height: calc(100vh + 40px);
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #000000;
}

.content-hero-video {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.content-hero {
    position: absolute;
    top: calc(50% - 150px);
    width: 1200px;
    left: 20px;
}

.content-hero .content-hero-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    color: #F5F4FC;
}

.content-hero .content-hero-subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #F5F4FC;
}

.content-hero .content-hero-button {
    padding: 15px 50px 15px 50px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
    text-transform: uppercase;
    border-radius: 22px;
    text-decoration: none;
    color: #F5F4FC;
    background-color: #ffad01;
}

.content-hero .content-hero-button:hover {
    color: #ffad01;
    background-color: #151414;
    border: 2px solid #ffad01;
}

@media (max-width: 900px) {

    .section-hero {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .content-hero-container {
        padding: 0;
        margin-bottom: 80px;
    }

    .content-hero {
        position: relative;
        text-align: center;
        width: auto;
        top: 0;
        left: 0;
        padding: 0 60px 0;
        margin-top: 200px;
    }

    .content-hero .content-hero-title {
        font-size: 40px;
        padding: 0;
    }

    .content-hero .content-hero-subtitle {
        font-size: 26px;
        padding: 0 0 0;
        margin: 8px 0 50px;
    }

    .section-hero-sticky {
        position: relative;
        height: auto;
        overflow: hidden;
    }

    .content-hero-container {
        width: calc(100vw - 40px) !important;
        height: calc(100% - 100px) !important;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
    }
}