@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  /* --body-color: hsl(0, 0%, 6%); */
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  /* background-color: var(--body-color); */
  background: url("https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?t=st=1709203548~exp=1709207148~hmac=9ac40b96e4e3c2a74de296b8cf188481855a48389b09616ac313495594f0c220&w=996");
  background-color: var(--text-color);
  background-size: cover;
  color: var(--text-color);
  font-family: var(--body-font);
  cursor: url("cursor.png"), auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Scrollbar CSS */
/* 
#BFBFBF 
#151414
#ffad01
*/

body {
  --sb-track-color: #BFBFBF;
  --sb-thumb-color: #ffad01;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
